.sort {
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        label {
            &:before {
              display: none;
            }
          }

        &-text {
            display: flex;
            flex-direction: row;
            font-size: 0.9em;
            justify-content: flex-end;
            padding-top: 9px;
        }
    }
}