
/* COLORS */
$background-body: #f6f6f6;
$blue-contrast-1: #1D5794;
$gray-contrast-1: #7a7a7a;
$gray-contrast-2: rgba(188, 188, 188, 0.76);
$gray-contrast-3: #d0d0d0;
$gray-contrast-4: #e6e6e6;
$gray-contrast-5: #e1e1e1;
$gray-contrast-6: #c7cace;
$green: #43c469;
$white: #ffffff;
$dark: #2e2e2e;
$blue: #00b2ff;

$font-family: 'Lato', sans-serif;