
/* COLORS */

$blue-contrast-1: #2d5987;
$gray-contrast-1: #7a7a7a;
$gray-contrast-2: rgba(188, 188, 188, 0.76);
$gray-contrast-3: #cdcdcd;
$gray-contrast-4: #ced4da;
$green: #43c469;
$white: #ffffff;

$font-family: 'Lato', sans-serif;