@import "./../../themes/variables.scss";


.card {
    &__item {
        background-color: $white;
        border: 1px solid $gray-contrast-4;
        border-radius: 0px !important;
        padding: 10px !important;
        margin-bottom: 14px;

        &-image {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 4px;
        }

        &-caption {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &--title {
                color: $dark;
                font-size: 1.2em;
                padding-bottom: 5px;
            }

            &--featured {
                border: 1px solid $green;
                color: $green;
                font-size: 0.6em;
                font-weight: 600;
                padding: 2px 4px;
                margin-bottom: 10px;
            }

            &--description {
                color: $gray-contrast-1;
                font-size: 0.8em;
                padding-bottom: 10px;
            }

            &-extra {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                h4 {
                    font-size: 0.8em;
                    color: $gray-contrast-1;
                    margin-right: 10px;

                    i {
                        margin-right: 6px;
                    }
                }
            }
        }

        &-feed {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &--prize {
                font-size: 1.2em;
                font-weight: 600;
            }

            &--share {
                border: 1px solid $gray-contrast-3;
                border-radius: 2px;
                font-size: 1.2em;
                padding: 4px 14px;
            }
        }
    }
}