@import "./../../themes/variables.scss";

form {

    .input {
        &-group {
            &-text {
                background-color: $white !important;
                border-top: 1px solid $gray-contrast-4;
                border-left: 1px solid $gray-contrast-4;
                border-bottom: 1px solid $gray-contrast-4;
            }
        }
    }
    label {
        color: $white;
        font-size: 1.5em !important;
    }

    select {
        background-color: $blue-contrast-1 !important;
        border-color: $white !important;
        color: $white !important;
        font-size: 1.6em !important;
        height: 52px !important;
    }

    input {
        background-color: $white !important;
        border-left: 1px solid $white !important;
        height: 52px !important;
    }

    ::-webkit-input-placeholder {
        color: $gray-contrast-3 !important;
        font-size: 1.2em;
    }

    ::-moz-placeholder {
        color: $gray-contrast-3 !important;
        font-size: 1.2em;
    }

    :-ms-input-placeholder {
        color: $gray-contrast-3 !important;
        font-size: 1.2em;
    }

    :-moz-placeholder {
        color: $gray-contrast-3 !important;
        font-size: 1.2em;
    }
}